body {
    margin-bottom: 60px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.carousel {
    margin-top: 70px;
    margin-bottom: 20px;
}

.panel {
    border-width: 2px;
    border-radius: 5px;
    border-color: #696969;
}

.panel > .panel-heading {
    color: #dcdcdc;
    background-color: #696969;
}

.panel > .panel-footer {
    text-align: right;
}

.panel-article {
    margin-right: 20px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.breadcrumb {
    margin-right: 20px;
    border: 1px solid #696969;
}
