<ul class="nav nav-sidebar">
    {% if categories %}
        {% for category in categories %}
            <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;{{ category.name }}</a></li>
        {% endfor %}
    {% endif %}
</ul>
