<h3>Congratulations!</h3>
<p>{{ firstName }} {{ lastName }} your request for a blogger has been approved.</p>
<p>Now you can comment and <a href="{{ url('app_article_create') }}">write</a> articles.</p>
<p>Thanks!</p>
