{% extends 'base.html.twig' %}

{% block title %}Symfony Blog - Category - {{ category.name }}{% endblock %}

{% block body %}
    <div class="row">
        {{ include('breadcrumb.html.twig', { 'crumb': 'Category', 'active': category.name }) }}
        {{ include('articles.html.twig', { 'articles': articles }) }}
    </div>
{% endblock %}
