{% extends 'base.html.twig' %}

{% block title %}Symfony Blog - Tag - {{ tag.text }}{% endblock %}

{% block body %}
    <div class="row">
        {{ include('breadcrumb.html.twig', { 'crumb': 'Tag', 'active': tag.text }) }}
        {{ include('articles.html.twig', { 'articles': articles }) }}
    </div>
{% endblock %}
